
.view {
  width: 100%;
}
.sort {
  min-height: 500px;
  float: left;
  width: 399px;
  padding: 5px 5px 60px;
  overflow-y: scroll;
  max-height: 500px;
}
.column {
  float: left;
  border-top: 1px solid #565656;
  border-bottom: 1px solid #565656;
  border-right: 1px solid #565656;
  border-left: 1px solid #565656;
}
.column:last-of-type {
  border-right: 1px solid #565656;
}
.heading {
  text-align: center;
  /* background-color: #efc24e; */
  background: linear-gradient(to bottom, #00c6ff, #0072ff);
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #565656;
}
.portlet {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 0;
  background-color: #FFF;
  border: 1px solid #565656;
}
.portlet-header {
  padding: 3px 5px;
  margin: -5px;
  position: relative;
  border-radius: 0;
  border: 0;
  /* background-color: #d3d3d3; */
  
  cursor: move;
}
.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -8px;
}
.portlet-content {
  padding: 0px;
}
.portlet-edit {
  max-height: 0 !important;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
  
}
.portlet-form {
  max-height: 500px;
  overflow: hidden;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}
.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 2px 2px 0;
  height: 50px;
}
.stage {
  min-height: 500px;
  border-left: 2px solid #565656;
  background-color: #ececec;
}
.machine {
  /* background-color: #88c0de; */
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.portlet-lock {
  float: right;
}
.portlet-lock.glyphicon-unchecked {
  color: #e3e3e3;
}
.portlet-update {
  float: left;
}
input.datepicker {
  width: 80%;
  margin-bottom: 2px;
}
.sticky {
  color: #ec4642;
  /* To keep ppl from all that annoying selecting of elements on a failed drag */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glyphicon {
  cursor: pointer;
}
.sticky .portlet-content .glyphicon-refresh,
.sticky .portlet-header {
  cursor: not-allowed;
  
}
/* Progress */
.bars {
  margin-top: 20px;
}
.progress-bar {
  width: 0;
  -webkit-transition: all 2.0s ease !important;
     -moz-transition: all 2.0s ease !important;
       -o-transition: all 2.0s ease !important;
          transition: all 2.0s ease !important;
}
.progress span{
  display: block;
  position: absolute;
  width: 90%;
  text-align: center;
}