
.progress2 *:not([data-progress2]) {
  margin: 5px 0;
  font-size: 14px;
}

.progress2 {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  box-sizing: border-box;
}

.progress2 [data-progress2] {
  height: 15px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: 2px;
  margin: 0px 0 10px 0;
  overflow: hidden;
}

[data-progress2]::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(#99caff, #1a88ff 90%, #007bff 10%);
  width: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
  color: white;
  padding: 0 3px;
  transition: 2s;
}

[data-progress2].animate-progress::after {
  content: attr(data-progress) "%";
  width: var(--animate-progress);
}

/* End Progress bar CSS */